<!-- home partial -->
<div ng-controller="Project1Controller">
    <div id="hold-up">
        <h1 class="tk-jaf-domus-titling-web tk-jaf-domus-titling-web-bold text-center">mcgraw.codes</i></h1>
        <h4 class="tk-jaf-domus-titling-web text-center">ui developer/novice computer artist</h4>
        <div id="canvas-hold">
            <div happy-bubbles></div>
        </div>
        <div class="faceHold">
            <a href="#/project2">
                <img src="/app/img/mcgraw-character-black-1.png" class="img-responsive fade" width="150" height="150" alt="mcgraw red blue face image" />
            </a>
        </div>
        <div class="hold-up-social">
            <i class="fa fa-github-alt fa-3x fade"></i>
            <i class="fa fa-rebel fa-3x fade"></i>
            <i class="fa fa-codepen fa-3x fade"></i>
        </div>
    </div>
</div>
<!-- <br><br><br>
    <i class="fa fa-cog fa-3x fa-spin">
<h1 class="tk-share-techmono"> <span>bastard circle</span>&nbsp;happy circle </h1>
<canvas width="120" height="120" class="currentPerc" happy-circle percentage="{{perc}}"></canvas>
<canvas width="120" height="120" class="projectedPerc" happy-circle percentage="{{projectedperc}}"></canvas> -->